<!-- <md-content layout-fill>


  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
        <i class="fa fa-bars fa-inverse fa-lg"></i>
      </md-button>
      <h2>
        <span>UniK Lambda App</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools"><md-button ng-click="toggleLeft()"><i class="fa fa-chevron-left fa-lg fa-inverse"></i></md-button> Menu</h1>
    </md-toolbar>

    <md-content layout-margin>
      <md-list flex>
        <md-list-item>
          <md-button class="md-raised" style="text-align:left" flex><i class="fa fa-plus fa-lg"></i> New Function</md-button>
        </md-list-item>
        <md-list-item>
          <md-button class="md-raised" style="text-align:left" flex><i class="fa fa-list fa-lg"></i> List Functions</md-button>
        </md-list-item>
      </md-list>
    </md-content>

  </md-sidenav> -->

  <!-- content -->
  <div flex-xs layout="column">

    <md-card>
      <!-- <md-card-content> -->
      <md-stepper-card-content>

        <md-whiteframe class="md-whiteframe-1dp">
          <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="selectedStep">
            <md-step label="Step 1" md-complete="step1.completed"  ng-disabled="step1.disabled">
              <md-step-body>
                <form ng-submit="captureApplicationName()">
                  <md-content flex layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Application Function Name</label>
                      <input ng-model="appConfig.appName">
                    </md-input-container>
                  </md-content>
                  <md-step-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary">Next</md-button>
                  </md-step-actions>
                </form>
              </md-step-body>
            </md-step>

            <md-step label="Step 2" md-complete="step2.completed"  ng-disabled="step2.disabled">
              <md-step-body>
                <form ng-submit="captureType()">
                  <md-content flex layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Application Language</label>
                      <md-select ng-model="appConfig.type">
                        <md-option value="nodejs">NodeJS</md-option>
                      </md-select>
                    </md-input-container>
                  </md-content>
                  <md-step-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary">Next</md-button>
                  </md-step-actions>
                </form>
              </md-step-body>
            </md-step>

            <md-step label="Step 3" md-complete="step3.completed" ng-disabled="step3.disabled">
              <md-step-body>
                <form ng-submit="captureCode()">
                  <md-content flex layout-padding>
                    <div id="editor">function foo(items) {
                        var x = "All this is syntax highlighted";
                        return x;
                    }</div>
                  </md-content>
                  <md-step-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary">Next</md-button>
                  </md-step-actions>
                </form>
              </md-step-body>
            </md-step>

            <md-step label="Step 4" md-complete="step4.completed" ng-disabled="step4.disabled">
              <md-step-body>
                <form ng-submit="captureDependencies()">
                  <md-content flex layout-padding>
                    <md-input-container class="md-block" flex-gt-sm>
                      <label>Enter space delimited list of node dependencies to be installed</label>
                      <textarea ng-model="appConfig.dependencies" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                  </md-content>
                  <md-step-actions layout="row" layout-align="end center">
                    <md-button type="submit" class="md-raised md-primary">Next</md-button>
                  </md-step-actions>
                </form>
              </md-step-body>
            </md-step>

            <md-step label="Finish" md-complete="step5.completed" ng-disabled="step5.disabled">
              <md-step-body>
                <form ng-submit="buildApp()">
                  <md-content flex layout-padding>
                    <md-list flex>
                      <md-subheader class="md-no-sticky">Service Configuration</md-subheader>
                      <md-list-item class="md-2-line" ng-repeat="(key,value) in appConfig">
                        <div class="md-list-item-text">
                          <h3>{{key}}</h3>
                          <p>{{value}}</p>
                        </div>
                      </md-list-item>
                    </md-list>
                    <md-button type="submit" class="md-raised md-primary">Push</md-button>
                  </md-content>
                </form>
              </md-step-body>
            </md-step>

          </md-steppers>
        </md-whiteframe>


      </md-stepper-card-content>
    </md-card>


  </div>

<!-- </md-content> -->
