<div flex-xs layout="column">


  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Containers">
      <md-content layout-padding>
        <!-- <div  layout="row" layout-sm="column" layout-align="space-around">

        </div> -->
        <div layout="row" flex>
          <md-button ng-click="refresh()"><md-icon md-font-set="material-icons" >refresh</md-icon> Refresh</md-button>
          <md-progress-linear ng-show="progress()" md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-divider></md-divider>
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="container in containers">
            <md-icon class="md-avatar" md-font-set="material-icons">code</md-icon>
            <div class="md-list-item-text">
              <h4>{{container.Names[0]}}</h4>
              <p>POST http://172.16.217.132/?functionName={{container.Image}}</p>
            </div>
            <md-icon class="md-secondary" md-font-set="material-icons" ng-click="action(container,$ev)">check_circle</md-icon>
            <md-icon class="md-secondary" md-font-set="material-icons" ng-click="deleteContainer(container,$ev)">delete</md-icon>
            <md-icon ng-disabled="{{container.Status.indexOf('Up') < 0}}" class="md-secondary" md-font-set="material-icons" ng-click="stopContainer(container,$ev)">stop</md-icon>
            <md-icon ng-disabled="{{container.Status.indexOf('Up') >= 0}}" class="md-secondary" md-font-set="material-icons" ng-click="runContainer(container,$ev)">play_circle_filled</md-icon>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>

    <md-tab label="Images">
      <md-content layout-padding>
        <md-button ng-click="refresh()"><md-icon md-font-set="material-icons" >refresh</md-icon> Refresh</md-button>
        <md-divider></md-divider>
        <md-list flex>
          <md-list-item class="md-2-line" ng-repeat="image in images">
            <md-icon class="md-avatar" md-font-set="material-icons">cloud_circle</md-icon>
            <div class="md-list-item-text">
              <h4>{{image.RepoTags[0]}}</h4>
            </div>
            <md-icon class="md-secondary" md-font-set="material-icons" ng-click="createContainer(image.RepoTags[0],$ev)">fiber_new</md-icon>
            <md-icon class="md-secondary" md-font-set="material-icons" ng-click="deleteImage(image,$ev)">delete</md-icon>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
  </md-tabs>

</div>
